.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  min-width: 100vw;
  min-height: 100vh;
}

.App-header {
  padding-left: 16px;
  text-align: left;
  flex: 0 0 80px;
  background: #eee;
}

.App-maintitle {
  font-size: 1.6em;
  text-transform: uppercase;
}

.App-subtitle {
  font-size: 0.9em;
  opacity: 0.6;
}

.App-content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.App-content span {
  flex: 1 1 100%;
}

.EditorTextarea-container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  min-height: 200px;
  overflow: auto;
  width: 100%;
}

.Editor {
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.EditorToolbar,
.EditorTextarea {
  text-align: left;
  flex: 1 1 100%;
}
